html, body {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  width: auto;
}
.flex-item {
  padding: 5px;
  width: 20px;
  height: 20px;
  margin: 10px;
  line-height: 20px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

/*  -----------  */

.letter {
  max-width: 800px;
}



.letter img {
  margin-right: 5px;
  height: 100px;  
  color: red;
}

div {
  display: inline-block;
}